---
import Cat from "../images/cat.avif";
import Layout from "../layouts/main.astro";
---

<Layout content={{ title: "Blog" }}>
  <div>
    <a href="/">Back to Home</a>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-col leading-snug">
      <img transition:name="cat" src={Cat} class="mb-3" />
      <div class="flex flex-col items-end space-y-2">
        <h3 transition:name="title" class="my-0 text-lg">Just a Cat</h3>
        <p transition:name="summary" class="my-0 text-sm">New line</p>
        <p transition:animate="fade">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          quibusdam sapiente consectetur animi maiores doloribus quidem deleniti
          aspernatur vitae, magnam sed fugiat minus reprehenderit quis nam
          labore natus cumque. Similique.
        </p>
      </div>
    </div>
  </div>
</Layout>
